@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);

html, body {
  font-family: roboto;
  background: var(--background);
}

:root {
  --purple: #6200EE;
  --red: #C51162;
  --white: #FFFFFF;
  --background: #f5f6fa;
}

.container {
  display: grid;
  grid-template-columns: 1em minmax(0, 2fr) 1em;
  height: 50%;
}
.container * {
  grid-column: 2 / 3;
}

.header {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  font-size: 2em;
  color: var(--purple);
  border: var(--purple) solid 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.addTodo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  height: auto;
}

.addTodo button {
  margin-left: 10px;
  margin-right: 10px;
  background-color:var(--red);
  color: var(--white);
}


.form-text {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 8px 14px;
}

.todos{
  padding: 0;
  margin-top: 10px;
  list-style: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.todo-item {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  word-break: break-all;
  margin-top: 4px;
  width: 50%;
  background: tomato;
  font-weight: bold;
  font-size: 1em;
  color:white;

}

.block-picker{
  margin-top: 10%;
}
.todo-item button {
  transition: all 200ms ease-in;
	cursor: pointer;
  color: transparent;  
  text-shadow: 0 0 0 white;
  font-weight: bold;
  margin-right: 10px;
  background-color: transparent;
  border: 0px;
  font-size: 1em;
}